# Regendaten Sommer 2018

In [1]:
import pandas as pd

In [31]:
%matplotlib inline

In [32]:
import numpy as np

1. Daten laden in df_original

In [46]:
df_original = pd.read_csv("regen2.csv", sep=";", na_values='-')

In [96]:
df_original['abbr'].value_counts()

STG    5136
CHU    5136
LUZ    5136
LUG    5136
BAS    5136
GVE    5136
SMA    5136
SIO    5136
BER    5136
Name: abbr, dtype: int64

In [47]:
df_original['rre150h0'].value_counts()

0.0     39238
0.1       558
0.2       302
0.3       207
0.4       172
0.5       134
0.7       104
0.6        93
0.8        87
0.9        76
1.2        63
1.0        58
1.1        50
1.3        44
1.6        41
1.5        39
1.4        36
1.7        34
1.8        31
2.8        26
2.2        26
2.4        25
2.1        23
2.3        22
1.9        22
2.0        20
2.5        19
3.0        17
3.7        16
2.9        16
        ...
18.8        1
11.8        1
16.7        1
10.1        1
17.7        1
13.6        1
15.5        1
19.7        1
14.6        1
8.5         1
16.3        1
14.4        1
16.8        1
21.8        1
21.1        1
18.6        1
20.6        1
11.1        1
21.9        1
33.6        1
9.3         1
6.7         1
9.5         1
15.1        1
27.8        1
21.4        1
12.2        1
8.8         1
14.2        1
31.8        1
Name: rre150h0, Length: 138, dtype: int64

In [48]:
df_original.head(10)

  abbr          time  rre150h0
0  BER  201804010000       1.5
1  BER  201804010100       0.5
2  BER  201804010200       0.5
3  BER  201804010300       0.1
4  BER  201804010400       0.3
5  BER  201804010500       0.0
6  BER  201804010600       0.0
7  BER  201804010700       0.0
8  BER  201804010800       0.1
9  BER  201804010900       0.1

In [49]:
df_original.dtypes

abbr         object
time          int64
rre150h0    float64
dtype: object

2. Time aufsplitten in separate Spalten

In [50]:
from datetime import datetime

In [51]:
df_original['date'] = pd.to_datetime(df_original['time'], format='%Y%m%d%H%M')

In [52]:
df_original['year'] = df_original['date'].dt.year
df_original['month'] = df_original['date'].dt.month
df_original['day'] = df_original['date'].dt.day
df_original['hour'] = df_original['date'].dt.hour
df_original['minute'] = df_original['date'].dt.minute

Auswerten:

In [53]:
df_original['rre150h0'].describe()

count    41976.000000
mean         0.099350
std          0.827955
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max         46.900000
Name: rre150h0, dtype: float64

In [111]:
df_zuerich = df_original[df_original['abbr'] == "SMA"]
df_zuerich.head(3)

,abbr,time,rre150h0,date,year,month,day,hour,minute
41088,SMA,201804010000,0.0,2018-04-01 00:00:00,2018,4,1,0,0
41089,SMA,201804010100,0.0,2018-04-01 01:00:00,2018,4,1,1,0
41090,SMA,201804010200,0.0,2018-04-01 02:00:00,2018,4,1,2,0

In [122]:
df_zuerich[(df_zuerich['hour'] > 6) & (df_zuerich["hour"] < 22)].head(3)

,abbr,time,rre150h0,date,year,month,day,hour,minute
41095,SMA,201804010700,0.4,2018-04-01 07:00:00,2018,4,1,7,0
41096,SMA,201804010800,0.0,2018-04-01 08:00:00,2018,4,1,8,0
41097,SMA,201804010900,0.0,2018-04-01 09:00:00,2018,4,1,9,0

In [124]:
df_original[df_original['abbr'] == "SMA"].value_counts()

AttributeError: 'DataFrame' object has no attribute 'value_counts'

## CSV exportieren:

Zürich:

In [54]:
df_zuerich = df_original[df_original['abbr'] == "SMA"]

In [98]:
zuerichalle = df_zuerich.groupby(["month", "day"])["rre150h0"].sum()

In [99]:
zuerichalle.to_csv('zuerichalle.csv')

Bern:

In [62]:
df_bern = df_original[df_original['abbr'] == "BER"]

In [63]:
bernalle = df_bern.groupby(["month", "day"])["rre150h0"].sum()

In [64]:
bernalle.to_csv('bernalle.csv')

Basel:

In [65]:
df_basel = df_original[df_original['abbr'] == "BAS"]

In [66]:
baselalle = df_basel.groupby(["month", "day"])["rre150h0"].sum()

In [67]:
baselalle.to_csv('baselalle.csv')

Luzern:

In [78]:
df_luzern = df_original[df_original['abbr'] == "LUZ"]

In [79]:
luzernalle = df_luzern.groupby(["month", "day"])["rre150h0"].sum()

In [80]:
luzernalle.to_csv('luzernalle.csv')

Chur:

In [81]:
df_chur = df_original[df_original['abbr'] == "CHU"]

In [82]:
churalle = df_chur.groupby(["month", "day"])["rre150h0"].sum()

In [83]:
churalle.to_csv('churalle.csv')

St. Gallen:

In [84]:
df_sg = df_original[df_original['abbr'] == "STG"]

In [85]:
sgalle = df_sg.groupby(["month", "day"])["rre150h0"].sum()

In [86]:
sgalle.to_csv('stgallenalle.csv')

Sion:

In [87]:
df_sion = df_original[df_original['abbr'] == "SIO"]

In [88]:
sionalle = df_sion.groupby(["month", "day"])["rre150h0"].sum()

In [89]:
sionalle.to_csv('sionalle.csv')

Genf:

In [90]:
df_genf = df_original[df_original['abbr'] == "GVE"]

In [91]:
genfalle = df_genf.groupby(["month", "day"])["rre150h0"].sum()

In [92]:
genfalle.to_csv('genfalle.csv')

Lugano:

In [93]:
df_lugano = df_original[df_original['abbr'] == "LUG"]

In [94]:
luganoalle = df_lugano.groupby(["month", "day"])["rre150h0"].sum()

In [95]:
luganoalle.to_csv('luganoalle.csv')